{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/logofinaltransparent/Logo_Raul_Urriza_180x180.png"/>
<link rel="icon" type="image/svg+xml" href="{{ base_path }}/images/logofinaltransparent/Logo_Raul_Urriza.svg"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/logofinaltransparent/Logo_Raul_Urriza_32x32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/logofinaltransparent/Logo_Raul_Urriza_16x16.png" sizes="16x16"/>
<link rel="manifest" href="{{ base_path }}/images/manifest.json"/>
<link rel="icon" href="/images/logofinaltransparent/Transparent_Logo_5.ico"/>
<meta name="theme-color" content="#ffffff"/>

<!-- end custom head snippets -->
